<!DOCTYPE html>
<html>
  <head>
    <title>Secret Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .secret-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 50px auto;
      }
      h1 {
        color: #333;
        margin-bottom: 20px;
      }
      p {
        color: #555;
        line-height: 1.6;
        margin-bottom: 10px;
      }
      .confidential {
        color: red;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="secret-container">
      <h1>Welcome to the Secret Page</h1>
      <p>This page contains some confidential information!</p>
      <p>Top Secret Admin data</p>
      <p class="confidential">Username: admin, Password: admin.</p>
      <p class="confidential">Card Number:  4786-7898-8118-4212 </p>
      <p class="confidential">Holder Name:  Mayer Amschel Rothschild </p>
      <p class="confidential">CVV/CVV2: 599 </p>
      <p class="confidential">Card Expiry: 12/2026 </p>
    </div>
  </body>
</html>